.Rproj.user
.Rhistory
.RData
.Ruserdata
NTR4_assignment1/data/WTCCC/T1D/snps/snps_01
NTR4_assignment1/data/WTCCC/T1D/snps/snps_02
NTR4_assignment1/data/WTCCC/T1D/snps/snps_03
NTR4_assignment1/data/WTCCC/T1D/snps/snps_04
NTR4_assignment1/data/WTCCC/T1D/snps/snps_05
NTR4_assignment1/data/WTCCC/T1D/snps/snps_06
NTR4_assignment1/data/WTCCC/T1D/snps/snps_07
NTR4_assignment1/data/WTCCC/T1D/snps/snps_08
NTR4_assignment1/data/WTCCC/T1D/snps/snps_09
NTR4_assignment1/data/WTCCC/T1D/snps/snps_10
NTR4_assignment1/data/WTCCC/T1D/snps/snps_11
NTR4_assignment1/data/WTCCC/T1D/snps/snps_12
NTR4_assignment1/data/WTCCC/T1D/snps/snps_13
NTR4_assignment1/data/WTCCC/T1D/snps/snps_14
NTR4_assignment1/data/WTCCC/T1D/snps/snps_15
NTR4_assignment1/data/WTCCC/T1D/snps/snps_16
NTR4_assignment1/data/WTCCC/T1D/snps/snps_17
NTR4_assignment1/data/WTCCC/T1D/snps/snps_18
NTR4_assignment1/data/WTCCC/T1D/snps/snps_19
NTR4_assignment1/data/WTCCC/T1D/snps/snps_20
NTR4_assignment1/data/WTCCC/T1D/snps/snps_21
NTR4_assignment1/data/WTCCC/T1D/snps/snps_22
NTR4_assignment1/data/WTCCC/T1D/snps/snps_X
*.csv
*.gz
*.tfam
NTR4_assignment1/data/CAD/snps/snps_X
NTR4_assignment1/data/CAD/snps/snps_22
NTR4_assignment1/data/CAD/snps/snps_21
NTR4_assignment1/data/CAD/snps/snps_20
NTR4_assignment1/data/CAD/snps/snps_19
NTR4_assignment1/data/CAD/snps/snps_18
NTR4_assignment1/data/CAD/snps/snps_17
NTR4_assignment1/data/CAD/snps/snps_16
NTR4_assignment1/data/CAD/snps/snps_15
NTR4_assignment1/data/CAD/snps/snps_14
NTR4_assignment1/data/CAD/snps/snps_13
NTR4_assignment1/data/CAD/snps/snps_12
NTR4_assignment1/data/CAD/snps/snps_11
NTR4_assignment1/data/CAD/snps/snps_10
NTR4_assignment1/data/CAD/snps/snps_09
NTR4_assignment1/data/CAD/snps/snps_08
NTR4_assignment1/data/CAD/snps/snps_07
NTR4_assignment1/data/CAD/snps/snps_06
NTR4_assignment1/data/CAD/snps/snps_05
NTR4_assignment1/data/CAD/snps/snps_04
NTR4_assignment1/data/CAD/snps/snps_03
NTR4_assignment1/data/CAD/snps/snps_02
NTR4_assignment1/data/CAD/snps/snps_01
NTR4_assignment1/data/BD/md5_unencrypted
NTR4_assignment1/data/58C/snps/snps_X
NTR4_assignment1/data/58C/snps/snps_22
NTR4_assignment1/data/58C/snps/snps_21
NTR4_assignment1/data/58C/snps/snps_20
NTR4_assignment1/data/58C/snps/snps_19
NTR4_assignment1/data/58C/snps/snps_18
NTR4_assignment1/data/58C/snps/snps_17
NTR4_assignment1/data/58C/snps/snps_16
NTR4_assignment1/data/58C/snps/snps_15
NTR4_assignment1/data/58C/snps/snps_14
NTR4_assignment1/data/58C/snps/snps_13
NTR4_assignment1/data/58C/snps/snps_12
NTR4_assignment1/data/58C/snps/snps_11
NTR4_assignment1/data/58C/snps/snps_10
NTR4_assignment1/data/58C/snps/snps_09
NTR4_assignment1/data/58C/snps/snps_08
NTR4_assignment1/data/58C/snps/snps_07
NTR4_assignment1/data/58C/snps/snps_06
NTR4_assignment1/data/58C/snps/snps_05
NTR4_assignment1/data/58C/snps/snps_04
NTR4_assignment1/data/58C/snps/snps_03
NTR4_assignment1/data/58C/snps/snps_02
NTR4_assignment1/data/58C/snps/snps_01
NTR4_assignment1/data/58C/MD5_Values_encrypted
NTR4_assignment1/data/.DS_Store
NTR4_assignment1/data/T2D/brlmm_readme
NTR4_assignment1/data/T1D/.DS_Store
NTR4_assignment1/data/NBS/snps_info.tar
NTR4_assignment1/data/NBS/md5_unencrypted
NTR4_assignment1/data/CD/MD5_Values_encrypted
NTR4_assignment1/data/CAD/snps_info2.tar
